{% extends 'base.html.twig' %}

{% block body %}
<h1>Paiement accepté !</h1>

<p>
    Nous vous remercions pour votre achat et au plaisir de vous revoir.
</p>
                                    <cite>Librairie Eyrolles</cite>
{% endblock %}

